:root{
    --background: #e8ecef;
    --paper: #ffffff;
    --eraser: #f82873;    
    --metal: #d7ddf0;
    --wood: #ffbe06;
    --wood-end: #ffdc9d;
    --outline: #3b0176;
    --shadow: #d8cce4;
  }
    
   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
    .background{
      width: 100vw;
      height: 100vh;
      background: var(--background);
      left: 0;
      right: 0;
      top: 0;
      margin: auto;
      position: relative;
    }
  
  .card{
    width: 125px;
    height: 175px;
    background: var(--paper);
    border: solid 3.5px var(--outline);
    border-radius: 10px;
   
    /* outline: solid 6px rgba(45,1,90,0.2); */
    /* outline-offset: -8px; */
    box-shadow: inset -3.5px -3.5px 0 rgba(45,1,90,0.2);
    /* 
    might need to create another element just for the shadow 
    */

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .pencil{
    width: 40px;
    height: 140px;
    /* background: var(--pencil); */
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    margin: auto;

    border: solid 3.5px;
    border-color: transparent var(--outline) var(--outline) var(--outline);
    border-radius: 0 0 12px 12px;
    display: grid;
    /* grid-template-rows: 15% 1.5% 25% 1.5% 57%; */
    grid-template-rows: 57% 1.5% 25% 1.5% 15%;
  }

  .eraser{
    background: var(--eraser);
    border-radius: 0 0 8.5px 8.5px;
  }

  .gap-a{
    background: var(--outline);

  }

  .metal{
    background: var(--metal);

  }

  .gap-b{
    background: var(--outline);

}

.wood{
    background: var(--wood);
  }
