:root{
    --background: #e8ecef;
    --paper: #ffffff;
    --eraser: #f82873;    
    --metal: #d7ddf0;
    --wood: #ffbe06;
    --wood-end: #ffdc9d;
    --outline: #3b0176;
    --shadow: rgba(45,1,90,0.2);
    --highlight: rgba(255, 255, 255, 0.5);
  
  
  }
    
   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
    .background{
      width: 100vw;
      height: 100vh;
      background: var(--background);
      left: 0;
      right: 0;
      top: 0;
      margin: auto;
      position: relative;
      z-index: -2;
    }
  
/* ---------------------------------------- */
               /* CARD 1 */
/* ---------------------------------------- */

  .card-front-1{
    width: 125px;
    height: 175px;
    background: var(--paper);
    border: solid 3.5px var(--outline);
    border-radius: 10px;
    box-shadow: inset -3.5px -3.5px 0 var(--shadow);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

.card-shadow-1{
    width: 125px;
    height: 175px;
    background: var(--shadow);
    border-radius: 10px;
    position: absolute;
    left: 10px;
    right: 0;
    top: 10px;
    bottom: 0;
    margin: auto;
    z-index: -1;
  }

  .card-all-1{
    transform: rotate(-6deg);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    width: 140px;
    height: 200px;
}

/* ---------------------------------------- */
               /* CARD 2 */
/* ---------------------------------------- */

.card-front-2{
    width: 125px;
    height: 175px;
    background: var(--paper);
    border: solid 3.5px var(--outline);
    border-radius: 10px;
    box-shadow: inset -3.5px -3.5px 0 var(--shadow);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

.card-shadow-2{
    width: 125px;
    height: 175px;
    background: var(--shadow);
    border-radius: 10px;
    position: absolute;
    left: 10px;
    right: 0;
    top: 10px;
    bottom: 0;
    margin: auto;
    z-index: -1;
  }

  .card-all-2{
    transform: rotate(20deg);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    width: 140px;
    height: 200px;
}

/* ---------------------------------------- */
               /* PENCIL */
/* ---------------------------------------- */

  .pencil-handle{
    width: 40px;
    height: 140px;
    position: relative;
    left: 0;
    right: 0;
    top: 50px;
    margin: auto;
    border: solid 3.5px;
    border-color: transparent var(--outline) var(--outline) var(--outline);
    border-radius: 0 0 12px 12px;
    display: grid;
    grid-template-rows: 75% 2.5% 6% 2.5% 14%;
  }

  .eraser{
    background: var(--eraser);
    border-radius: 0 0 7px 7px;
  }

  .gap-a{
    background: var(--outline);
  }

  .metal{
    background: var(--metal);
  }

  .gap-b{
    background: var(--outline);
}

.wood{
    background: var(--wood);
  }

/* ----------  Pencil End  ---------- */

  .pencil-end {
    position: absolute;
    width: 0; 
    height: 0px; 
    left: 0;
    right: 0;
    top: 14px;
    margin: auto;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 40px solid var(--wood-end) ;
  }

.border-left{
  width: 3.5px;
  height: 47px;
  background: var(--outline);
  transform: rotate(23deg);
  margin-left: -11.3px;
  margin-top: -7px;
  border-radius: 2px 2px 0 3px;
}

.border-right{
  width: 3.5px;
  height: 47px;
  background: var(--outline);
  transform: rotate(-23deg);
  margin-left: 7.5px;
  margin-top: -47px;
  border-radius: 2px 2px 3px 0;
}

  .pencil-tip{
    position: absolute;
    background: var(--outline);
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-left: -5.4px;
    margin-top: -2px;
  }

.pencil-all{
  position: absolute;
    left: 0px;
    right: 150px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    transform: rotate(65deg);
    width: 50px;
    height: 200px;
    z-index: 3;
    /* border: solid 1px; */  
}


/* ---------------------------------------- */
               /* PENCIL SHADOW */
/* ---------------------------------------- */

.pencil-handle-shadow{
    width: 10px;
    height: 135px;
    position: absolute;
    left: 85px;
    right: 264px;
    top: 350px;
    margin: auto;
    background: var(--shadow);
    z-index: 2;
    transform-origin: center center;
    transform: rotate(65deg);
    border-radius: 0 0 15px 0px;
    z-index: 4;
}

.pencil-end-shadow{
    width: 10px;
    height: 40px;
    position: absolute;
    left: 0px;
    right: 33px;
    top: 358px;
    margin: auto;
    background: var(--shadow);
    z-index: 2;
    transform-origin: center center;
    transform: rotate(45deg);
    border-radius: 10px 13px 10px 10px;
    z-index: 4;
}

.pencil-handle-highlight{
    width: 3px;
    height: 132px;
    position: absolute;
    left: 4px;
    right: 201px;
    top: -1px;
    bottom: 9.5px;
    margin: auto;
    background: var(--highlight);
    z-index: 2;
    transform-origin: center center;
    transform: rotate(65deg);
    border-radius: 0 0 0px 3px;
    z-index: 4;
}

.pencil-end-highlight{
    width: 3px;
    height: 32px;
    position: absolute;
    left: 0px;
    right: 45px;
    top: 0px;
    bottom: 69.6px;
    margin: auto;
    background: var(--highlight);
    z-index: 2;
    transform-origin: center center;
    transform: rotate(88deg);
    border-radius: 0px 0px 0px 0px;
    z-index: 4;
}